/* Theme */

@import url('https://fonts.cdnfonts.com/css/glacial-indifference-2');

:root {
    --fashion-1-hex: #0c0c0c;
    --fashion-2-hex: #FFCB00;
    --fashion-3-hex: #FF6150;
    --fashion-4-hex: #F7F0E3;

    --line-size: 2px;
    --border-size: 1px solid #f7f0e3;
    ---border-size-light: 1px solid var(--fashion-1-hex);
    --border-radius: 25px;

    /* font sizes */
    --h1: 89.76px;
    --h2: 67.34px;
    --h3: 50.52px;
    --h4: 37.9px;
    --h5: 28.43px;
    --h6: 21.33px;
    --p: 16px;
    --small: 12px;

    --mobile-h1: 10vw;
    --mobile-h3: 4vw;
    --mobile-p: 2.5vw;
}

* {
    font-family: 'Poppins', 'Glacial Indifference', sans-serif;
    box-sizing: border-box;
}

body {
    display: grid;
    overflow-x: hidden;
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
    /* overflow-x: hidden !important; */
}

section {
    height: 100vh;
    width: 100vw;
    overflow-y: hidden;
}

.hero {
    inline-size: 100%;
    block-size: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    /* height: 200vh; */
    position: relative;
    background-color: var(--fashion-1-hex);
}

.hero h1 {
    font-size: var(--h2);
    font-weight: 500;
    /* letter-spacing: 2px; */
    margin-block: 1vw;
}

.hero h2 {
    font-size: var(--h2);
}

.hero p {
    font-size: var(--p);
    font-weight: 500;
}

.navbar {
    height: 10%;
    width: 100%;
    display: flex;
    justify-content: center;
    position: fixed;
    z-index: 999;
    transition: background-color 0.3s ease;
    background-color: var(--fashion-1-hex);
    color: var(--fashion-4-hex);
}


main {
    width: 85%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    border-bottom: var(--border-size);
}

a {
    display: inline-block;
    padding: 10px 20px;
    font-size: var(--small);
    text-align: center;
    color: var(--fashion-4-hex);
    background-color: transparent;
    border: var(--border-size);
    border-radius: var(--border-radius);
    transition: background-color 0.3s, color 0.3s;
    /* Add color transition */
    font-family: 'Glacial Indifference', sans-serif;

    text-decoration: none;
    font-weight: 400;
    letter-spacing: .5px;
    cursor: pointer;
}

a:hover {
    background-color: var(--fashion-4-hex);
    border: var(--border-size);
    color: var(--fashion-1-hex);
    /* Change text color on hover */
}

.cta {
    background-color: var(--fashion-3-hex) !important;
    border-color: var(--fashion-3-hex);
    font-size: var(--p);
    font-weight: 600;
}

.cta:hover {
    background-color: var(--fashion-4-hex) !important;
}

.links {
    /* inline-size: 600px; */
    display: flex;
    justify-content: space-between;
    gap: 20px;
}


.grid-inner span {
    display: flex;
    justify-content: flex-end;
}

/* hero section */

.hero-content {
    /* margin-block-start: 5%; */
    width: 100%;
    height: 100%;
    padding-block: 5%;
    display: flex;
    /* flex-direction: column; */
    justify-content: center;
    align-items: flex-end;
    overflow: hidden;
}

.grid-content {
    position: relative;

    width: 85%;
    height: 100%;
    display: flex;
    justify-content: center;
    /* Center horizontally */
    align-items: center;
    /* Center vertically */
    color: var(--fashion-4-hex);
}

.grid-item {
    flex: 1;
    display: flex;
    align-items: center;
    /* Center vertically */
    justify-content: center;
    /* Center horizontally */
}

.grid-inner {
    text-align: center;
    /* Center text horizontally */
}

.grid-inner h1 {
    font-size: var(--h2);
    font-weight: 500;
    text-align: left;
}

.line {
    width: 100%;
    height: .05vw;
    padding: 0.005%;
    background-color: var(--fashion-4-hex);
}

.red {
    position: absolute;
    right: -15%;
    inline-size: 55%;
    block-size: 55%;

    padding: 5%;
    background-image: url('../assets/svg/Vector\ \(2\).png');
    background-size: contain;
    background-repeat: no-repeat;
    /* Center text horizontally */
}

.red p {
    text-align: center;
    font-weight: 600;
}

.image-side {
    block-size: 100%;
    inline-size: 100%;
}

.grid-text {
    font-size: var(--h5);
    font-weight: 300;
    margin: 0;
    margin-block: 1vw;
    text-align: right;
    /* Center text horizontally */
}

/* Second section*/

.offer-section {
    background-color: var(--fashion-1-hex) !important;
    height: 60vh !important;
}

.offer-inline {
    inline-size: 90%;
    block-size: 100%;
    margin: 0 auto;
}

.third {
    margin: 0 auto;
    block-size: 100%;
    display: flex;
}

.files {
    margin-block: 2rem;
    block-size: 100%;
    inline-size: 100%;
    display: flex;
    flex-direction: column;
}

.file-top {
    flex: 1;
    font-size: var(--h6);
    color: var(--fashion-4-hex);
}

.file-top .icon {
    transform: rotate(45deg);
}

.file-bottom {
    flex: 5;
    display: flex;
    flex-direction: row;
    gap: 2%;
}

.file-bottom .file {
    width: calc(100%/3);
    height: 100%;
}

.file-bottom .file:not(:first-child) {
    margin-inline-start: calc(8%/3);
}

.file-inner {
    height: 210px;
    display: flex;
    flex-direction: column;
    gap: 5px;
    justify-content: space-between;
    padding-block: 15%;
    padding-inline: 5%;
}

.file-inner h4 {
    flex: 1;
    margin: 0;
    font-size: var(--h5);
    font-weight: 600;
}

.file-inner p {
    flex: 1;
    font-size: var(--small);
    font-weight: 500;
}

.file-button {
    flex: 1;
}

.icons {
    font-size: var(--h4);
}

.community {
    background-image: url(../assets/svg/File\ \(8\).svg);
    background-repeat: no-repeat;
    background-size: contain;
    color: var(--fashion-1-hex)
}

.launchpad {
    background-image: url(../assets/svg/File\ \(6\).svg);
    background-repeat: no-repeat;
    background-size: contain;
    color: var(--fashion-1-hex)
}

.worskshop {
    background-image: url(../assets/svg/File\ \(7\).svg);
    background-repeat: no-repeat;
    background-size: contain;
    color: var(--fashion-1-hex)
}


.file-inner a {
    margin-block-start: .25vw;
    border: var(---border-size-light);
    color: var(--fashion-1-hex) !important;
}

.angle {
    transform: rotate(-45deg);
}

/* mission section */

.navbar-bg {
    background-color: var(--fashion-4-hex) !important;
    border-bottom: var(---border-size-light);
    color: var(--fashion-1-hex) !important;
}

.navbar-bg main a {
    background-color: transparent;
    border: var(---border-size-light);
    border-radius: var(--border-radius);
}

.navbar-bg main a {
    color: var(--fashion-1-hex) !important;
}

.mission {
    display: flex;
    flex-direction: column;
    justify-content: flex-end !important;
    font-size: var(--fashion-1-hex);
}


.mission .mission-inline {
    width: 100%;
    height: 90%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: auto;
    /* gap: 20px; */
    /* Adjust the gap between grid items */
    background-color: var(--fashion-4-hex);
    /* padding: 20px; */
    /* Add padding to the grid container */
    box-sizing: border-box;
    /* Ensure padding is included in element's total width and height */
}

.grid-mission>* {
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s, opacity 0.5s;
    color: var(--fashion-1-hex);
}

.grid-mission {
    cursor: pointer;
    padding: 20px;
    inline-size: 100%;
    block-size: calc(100vh/2);
    border-block-end: var(---border-size-light);
    border-inline-end: var(---border-size-light);
    box-sizing: border-box;
}

.grid-mission h1 {
    margin-block: 1rem;
}

.grid-mission p {
    font-size: 14px;
    margin: 0;
    margin-bottom: var(--p);

}

.wide {
    grid-column: span 2;
}

.mission-inline .top,
.last {
    padding: 0;
}

.wide h3 {
    font-size: var(--h3);
    font-weight: 500;
    width: 80%;
    margin: 0;
    margin-bottom: var(--h6);
}

.wide p {
    font-size: 14px;
    font-weight: 500;
    width: 80%;
    text-align: justify;
    margin-bottom: var(--p);
}

.top img,
.last img {
    object-fit: cover;
    width: 100%;
    block-size: 100%;
}

.pill {
    border: var(---border-size-light);
    border-radius: var(--border-radius);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.hook {
    color: var(--fashion-1-hex);
    bottom: 20px;
    position: absolute;
    font-size: 6vw;
    margin: 0;
    padding: 0;
}

.fifth {
    padding: 0;
}

.fifth img {
    object-fit: cover;
    inline-size: 100%;
    block-size: 100%;
}

/* Team Section */
.team-inline {
    inline-size: 100%;
    block-size: 100%;
    display: flex;
    flex-direction: column;
}

.statemnt {
    border-top: var(---border-size-light);
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 2%;
    position: relative;
}

.team-inline .one {
    height: 80%;
    background-color: var(--fashion-4-hex);
    color: var(--fashion-1-hex);
}

.one h5 {
    font-size: 4rem;
    margin-block-start: 10vh;
    margin-block-end: 0vh;
    font-weight: 500;
}

@keyframes reveal {
    from {
        transform: translateY(100%);
        opacity: 0;
    }

    to {
        transform: translateY(0);
        opacity: 1;
    }
}

.text-reveal-line {
    width: 100%;
    height: 100%;
    overflow: hidden;
    display: inline-block;
}

.text-reveal-inner {
    text-align: justify;
    position: absolute;
    width: 50%;
    bottom: 5%;
    right: 2%;
    font-weight: 300;
}

.text-reveal-line span {
    opacity: 0;
    position: relative;
    display: block;
    font-size: 14px;
}

.text-reveal-inner.animate-reveal span {
    animation: reveal 0.3s forwards;
}

.team-inline .two {
    height: 80%;
    background-image: url(../assets/svg/eyes.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    color: var(--fashion-4-hex);
}

.two h5 {
    margin: 0;
    font-weight: 500;
}

/* Contact section */
.contact-inline {
    block-size: 100%;
    inline-size: 100%;
    background-color: var(--fashion-1-hex);
    color: var(--fashion-4-hex);
    display: flex;
    flex-direction: row;
    position: relative;
}

.grid-contact {
    width: 100%;
    height: 100%;
    text-align: center;
}

.primary {
    flex: 1;
    background-color: var(--fashion-4-hex);
    border-inline-end: var(---border-size-light);
}

.primary h1 {
    font-size: 4.75vw;
    font-weight: 500;
    margin: 0;
    color: var(--fashion-3-hex);
    z-index: 999;
    left: 20%;
    top: 25%;
    position: absolute;
    width: 25%;
}

.primary img {
    object-fit: cover;
    block-size: 100%;
    inline-size: 100%;
    filter: brightness(60%);
}

.secondary {
    flex: 2;
    display: flex;
    align-items: flex-end;
    background-color: var(--fashion-4-hex);
}

.grid-secondary-inline {
    inline-size: 100%;
    block-size: 90%;
    display: flex;
    flex-direction: column;
}

.grid-secondary {
    width: 100%;
    height: 100%;
    text-align: center;
}

.up {
    flex: 2.25;
    color: var(--fashion-1-hex);
    display: flex;
    flex-direction: row;
}

.grid-up {
    inline-size: 100%;
    block-size: 100%;
}

.side-one {
    border-inline-end: var(---border-size-light);
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
    padding: 5%;
}

.side-one h6 {
    font-size: 1.25vw;
    position: absolute;
    font-weight: 500;
    top: 8%;
    right: 32.5%;
    color: var(--fashion-3-hex);
}

.side-one p {
    font-size: 1.25vw;
    font-weight: 400;
}

.grid-side-inner {
    block-size: 100%;
    inline-size: 100%;
    display: flex;
    flex-direction: column;
}

/* .side-two {
    padding-inline-end: 5%;
} */

.grid-event {
    block-size: 100%;
    inline-size: 100%;
    border-block-end: var(---border-size-light);
    display: flex;
    flex-direction: column;
    position: relative;
    padding: 2%;
    cursor: pointer;
}

.grid-event h6 {
    position: absolute;
    font-size: 1.5vw;
    margin: 0;
    font-weight: 500;
    padding-inline-end: 5%;

}

.grid-event p {
    color: var(--fashion-3-hex);
    text-align: justify;
    font-size: 1.25vw;
    position: absolute;
    bottom: 5%;
    right: 2%;
    font-weight: 600;
    padding-inline-end: 5%;
}

.down {
    flex: 1;
    background-color: var(--fashion-1-hex)
}

.down h6 {
    font-size: 2vw;
    margin-bottom: 0;
    font-weight: 500;
}



.main {
    width: 300%;
    height: 100%;
    display: flex;
    flex-wrap: nowrap;
    /* overflow-x: scroll; */
    background-color: var(--fashion-4-hex);
}

.main section {
    display: flex;
    justify-content: center;
    color: white;
    font-size: 64px;
    background-color: var(--fashion-1-hex);
}


.footer {
    background-color: var(--fashion-1-hex);
}

.footer-inner {
    inline-size: 100%;
    block-size: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.footer-inner h1 {
    color: var(--fashion-4-hex);
    text-align: center;
}

/* sliders */

.container {
    inline-size: 100%;
    block-size: 80%;
    padding: 0 20px;
    overflow: hidden;
}

.slides {
    width: 100%;
    display: flex;
    border-radius: 10px;
    overflow: hidden;
}

.slide {
    list-style-type: none;
    height: 75vh;
    width: 5%;
    overflow: hidden;

    -webkit-transition: all 500ms linear;
    -moz-transition: all 500ms linear;
    -o-transition: all 500ms linear;
    -ms-transition: all 500ms linear;
    transition: all 500ms linear;
}

/* brands colors */
.brand1 {
    background-color: var(--fashion-4-hex);
}

.brand2 {
    background-color: #ffef0c;
}

.brand3 {
    background-color: #FFCB00;

}

.brand4 {
    background-color: rgb(250, 151, 59)
}

.brand5 {
    background-color: rgb(250, 142, 59)
}

.brand6 {
    background-color: #ff8250
}

.brand7 {
    background-color: #FF6150
}

.slide a.action {
    display: block;
    height: 100%;
    position: relative;
    border: var(--border-size);
    border-radius: 0;
}

.slide a.action span {
    font-weight: 600;
    color: var(--fashion-1-hex);
    transform: rotate(270deg);
    position: absolute;
    top: 10%;
    width: 140px;
    left: -30%;
    height: 100px;
}

.slide-content {
    display: block;
    width: 720px;
    padding: 40px;
}

.slide-content {
    color: var(--fashion-1-hex);
}

.active {
    width: 80%;
}

.active a.action {
    display: none;
}

@media screen and (max-width: 1100px) {
    .grid-inner h1 {
        font-size: var(--h4);
    }

    .red {
        inline-size: 45%;
        right: 0%;
    }

    .file-inner {
        padding-block: 10%;
    }

    .grid-mission p {
        font-size: 12px;
    }

}

@media screen and (min-width: 1440px) {
    .hero-content {
        max-width: 85%;
        margin: 0 auto;
    }


    .red {
        block-size: 35%;
    }
}


/* Resources page */
.resources {
    overflow: scroll;
    background-color: var(--fashion-1-hex);
    color: var(--fashion-4-hex);
}

.resources-inner {
    margin: 0 auto;
    max-width: 1200px;
    min-height: 100vh;
    padding-block: 2vh;
    padding-inline: 2vw;
}

.resources-header {
    width: 100%;
    height: fit-content;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    border-bottom: 2px solid var(--fashion-4-hex)
}

.resources-header a {
    height: fit-content;
    background-color: var(--fashion-3-hex);
    border-color: var(--fashion-3-hex);
}

.resources-header h1 {
    font-size: var(--h2);
    font-weight: 500;
    text-align: left;
}

.details {
    width: 100%;
    display: flex;
    flex-direction: column;
    /* gap: 2rem; */
}

.top-info {
    text-align: justify;
    margin-block: 2rem;
}

.top-info h3 {
    font-size: var(--h5);
    font-weight: 500;
}

.top-info p {
    font-size: var(--h6);
}

.bottom-info {
    display: inline-block;
}

.bottom-resources {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.resource {
    padding-block: 1rem;
    border-top: 2px solid var(--fashion-4-hex);
}

.resource h1 {
    font-size: var(--h3);
    font-weight: 500;
    margin: 0;
}

.resource a {
    font-weight: bold;
}


@media screen and (max-width: 475px) {
    .resources-inner {
        margin-inline: 2rem;
    }

    .resources-header h1 {
        font-size: var(--h4);
    }

    .resource h1 {
        font-size: var(--h5);
    }
}